{% extends 'admin_panel/base.html' %}
{% load static %}

{% comment %} template tags {% endcomment %}
{% load product_templates_tags %}

{% block content %}
    <!-- Page Content-->
    <div class="page-content">
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="row">
                            <div class="col">
                                <h4 class="page-title">Product List</h4>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Products</a></li>
                                    <li class="breadcrumb-item active">List</li>
                                </ol>
                            </div><!--end col-->
                            <div class="col-auto col-sm-2 float-right ml-auto">
                                <form method="get" action="{% url 'product:product_list' %}">
                                    <li class="list-inline-item">
                                        <div class="input-group">
                
                                            <input name="q" type="text" placeholder="Search" value="{{ filter_data.q }}"
                                                class="form-control" />
                                            <span class="input-group-append">
                                                <button type="button" class="btn btn-soft-primary btn-sm"><i
                                                        class="fas fa-search"></i></button>
                                            </span>
                                        </div>
                                    </li>
                                </form>
                            </div>
                            <div class="col-auto align-self-center">
                                <a class="btn btn-primary btn-sm text-white px-4 d-inline-block"  href="{% url 'product:create_product' %}" ><i class="mdi mdi-plus mr-2"></i>Product</a>
                            </div><!--end col-->  
                        </div><!--end row-->                                                              
                    </div><!--end page-title-box-->
                </div><!--end col-->
            </div><!--end row-->
            <!-- end page title end breadcrumb -->
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Category</th>
                                <th>Product Type</th>
                                <th>MRP</th>
                                <th>Price</th>
                                <th>Current Rating</th>
                                <th>Stock</th>
                                <th>Avai.Sizes</th>
                                <th>COD</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% load el_pagination_tags %}
                            {% paginate 20 instances %}
                            {%for product in instances%}
                            <tr>
                                <td>
                                    {% if product.featured_image %}
                                    <img src="{{product.featured_image.url}}" alt="" height="40" width="15%">
                                    {% endif %}
                                    <p class="d-inline-block align-middle mb-0">
                                        <a href="#" class="d-inline-block align-middle mb-0 product-name">{{product.name}}</a> 
                                    </p>
                                </td>
                                <td>{{product.category.name}}</td>
                                <td>{{product.product_type|default:'-'}}</td>
                                <td>{{product.mrp}}</td>
                                <td>{{product.price}}</td>
                                <td>{{product.current_rating}}</td>
                                {% get_product_varient_in_product product.pk  as available_stock %}
                                <td>{{available_stock.total_stock}}</td>
                                <td>{%for size in available_stock.available_sizes%}
                                    {{size.size}}
                                    {%endfor%}
                                </td>
                                <td>
                                    {% if product.cash_on_delivery %}
                                    <span style="color:green">Available</span>
                                    {% else %}
                                    <span style="color:red">Not Available</span>
                                    {% endif %}
                                </td>
                                
                                <td>                                                       
                                    <a href="{% url 'product:product_details' pk=product.pk %}" class="mr-2"><i class="las la-eye text-info font-18"></i></a>
                                    <a href="{% url 'product:edit_product' pk=product.pk %}" class="mr-2"><i class="las la-pen text-info font-18"></i></a>
                                    <a data-id="{{ product.pk }}" class="action-button remove redirect" href="{% url 'product:delete_product' pk=product.pk %}" data-text="{{ confirm_delete_message }}" data-title="Are you sure?"><i class="las la-trash-alt text-danger font-18"></i></a>
                                </td>
                            </tr>
                            {%endfor%}
                            {% comment %} {% show_pages %} {% endcomment %}

                            </tbody>
                        </table> 
                        
                        {% get_pages %}
                        <div class="clearfix"></div>
                        <div class="row pagi my-3">
                            <div class="col-sm-6 col-xs-6 text-left my-pagina">{% show_pages %}</div>
                            <div class="col-sm-6 col-xs-6 text-right tot my-pagination align-items-center">
                                <div class="m-t-10">
                                    Showing {{title}}
                                    <span class="current_page_index">{{ pages.current_start_index }}</span> - <span
                                        class="current_end_status">{{ pages.current_end_index }}</span> of <span
                                        class="total_count">{{ pages.total_count }}</span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->

        </div><!-- container -->
    </div>
    <!-- end page content -->
{% endblock content %}
        