{% load static %}

<div class="sett-paasword-box">
    <div class="logo">
      <img src="{% static 'web/images/Kiasco_Logo_white.png' %}" alt="Logo" />
    </div>
    <form action="">
      <div class="item last">
        <input type="hidden" id="email_id" value="" name="email-id">
          <label for="password">New Password</label>
          <input type="password" id="forgot-new-password" name="password" placeholder="Enter Password*" required />
          <p class="required_text" id="required_text_f_password" style="display: none; color: red; font-size: 10px; text-align: left;">*required</p>
        </div>
        <div class="pass-method">
          <span class="charecter">8 characters</span>
          <span class="special">1 special</span>
          <span class="upper">1 uppercase</span>
          <span class="numeric">1 numeric</span>
        </div>
      <div class="password-box">
        <label for="passwrod">Confirm Password</label>
        <input type="password" id="forgot_c_password" name="c_password" placeholder="Enter Password" />
        <p class="required_text" id="required_text_f_c_password" style="display: none; color: red; font-size: 10px; text-align: left;">*required</p>
      </div>

      {% comment %} <button type="submit" class="login-btn" data-url="{% url 'web:forgot_password' %}" id="forgot-pass-submit" data-is_active="">Submit</button> {% endcomment %}
    
    </form>
    <!-- <a href="#" class="login-btn" id="forgot-pass-submit">Log In</a> -->
  </div>


  <!-- success-tick -->
  <section class="success" id="forgot_success">
    {% comment %} <div class="head f-pass-closer-head">
      <span class="close"><i class="fas fa-times"></i></span>
    </div> {% endcomment %}
    <div class="tick-box">
      <h4><img src="{% static 'web/images/verification-success.png' %}" alt="Success" /></h4>
      <h3 id="title"></h3>
      <p id="profile-sweet-message"></p>
    </div>
    <button class="head f-pass-closer-head">OK</button>
  </section>